
/*Css for background and body*/

body 
{
background-image: linear-gradient( black ,rgba(145, 145, 145, 0.74) , grey);  
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
display: center; 
 
}

/* header code */
.bannerimage
{
  
   display: block;
   margin: auto;
   max-width: 100%; 
   padding-top: 100px;
   display: center;

 }

 
/* codeing nav bar*/
nav {
 
  padding-top: .9cm;
  padding-bottom: .9cm;
  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%; 
   background-image: radial-gradient(rgb(0, 0, 0), rgba(145, 145, 145, 0.74));
border-radius: 15px; 
font-family: Arial, Helvetica, sans-serif;
background-position: center;


}

ul {
  text-align: center;

}

li {
  display:inline;
}


nav a 
{

  display: inline;
  padding-right: 12mm;
  max-width: 100%;
  max-height:100%;
  color: whitesmoke; 
  font-family: Archivo Black, sans-serif;
  text-decoration: none; 
  padding-left:12mm;
  font-size: 20px; 
  text-align: center; 
  white-space: nowrap;
  transition-duration: 0.5s;

}
nav a:hover
{
  color:rgb(255, 255, 255);
border: 3px solid whitesmoke;
border-radius: 5px;
  font-size: 22px;   
 transition-duration: 0.5s; 
  text-decoration: bold;
  text-shadow:1px 1px 10px red;
  box-shadow: 1px 1px 500px red;

} 

/* css for content */

.content 
{
  padding-top: 6cm;
  color:white; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
text-display: inline; 
color:white; 
  font-family: Impact; 
}
.content h1
{
  font-size: 60px;
  color:white; 
  font-family: Impact; 
}
.content p
{
  font-size: 13px;
  font-family:  'Open Sans', sans-serif;
  text-decoration: bold;  
}



  


 